:root {
  --red: red;

 /* TODO Name correct fonts or Import */
 --mono: monospace;
 --sans: sans-serif;

 --colour1: #272343;
 --colour2: #ffffff;
 --colour3: #e3f6f5;
 --colour4: #bae8e8;

 --error-colour: orange;
}  

.nav-section{
  background: var(--colour1);
  margin-bottom: 2rem;
  display: flex-box;


}

.Topics-text{
  color: var(--colour3);
  font-size: xx-large;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 2%;
  font-weight: 00;
  display: flex;

}
.UserContext{
 font-size: small;
}
.username{
  background-color: var(--colour1);
  color: var(--colour3);
  padding: 0.20rem;
  margin: 0.20rem;
  list-style-type:none;
  border-radius: 0.4rem;
  justify-content:center;

  border-radius: 1.5px solid blue;
}
.inputBox-username{
  padding: 0.20rem;
  margin: 0.20rem;

}
.login-button{
  margin: 0.20rem;
}

.topics-list{
  margin-bottom: 1.5rem;
  display: flex;
  
}

.topic-item{
  background-color: var(--colour1);
  padding: 0.25ch;
  margin: 0.25ch;
  list-style-type:none;
  border-radius: 0.25ch;
  border: 1px solid --colour3;
  display: flex;

}
.topicItem-slug{
  color: var(--colour3);
  font-size: large;
  justify-content: flex-start;
  font-weight: 600;
  background-color: var(--colour1);


}

/* .App { 
	background: #fafafa; 
}
	
.second-color { 
	background: #ffe9e3; 
}

.third-color { 
	background: #c4c1e0; 
}

.fourth-color { 
	background: #7c73e6;  */

.App {
  text-align: center;
  background: #272343;
}


.App-header {
  background-color: var(--colour3); 
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--colour4);
}

.App-link {
  color: var(--colour4);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
 }

nav li:first-child {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 7rem;

}

main ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem;
}
.Homepage-title{
  color: var(--colour2);
  font-size: x-large;
  justify-content: flex-start;
  font-weight:100;
  font-style: italic;

}
.Articles-text{
  color: var(--colour3);
  font-size: xx-large;
  justify-content: flex-start;
  font-weight: 500;
  margin-bottom: 0;

}
.comments-list {
  background-color:var(--colour4);
  list-style-type: none;
  padding: 1rem;
  margin: 1rem;
  align-items: flex-start;
  text-align: left;
  border-radius: 1.25rem;

}

.comment-item{
  background-color:colour3;
  padding: 0.25rem;
  margin: 0.25rem;
  list-style-type:none;

}

.single-comment{
  background-color:var(--colour2);
  padding: 0.25rem;
  margin: 0.25rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid rgb(164, 60, 238);

}
.single-deleteBack{
  background-color:var(--colour4);
}
.single-delete{
  background-color:var(--colour1);
  color: var(--colour3);
  font-size: small;
  font-weight: 800;
  padding: 0.25rem;
  margin: 0.25rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid var(--colour1);
  display: inline-block;
  text-indent: 0%;

}

.input-box{
  width: 300px;
  height: 80px;
  border-radius: 1.5px solid blue;
  box-sizing: border-box;

}

.author-span {
  margin: 1rem;
  text-align: left;
  padding: auto;
  background-color: var(--colour3);
  color: var(--colour1);
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 0.4rem;
  border: 1px solid rgb(164, 60, 238);
  display: inline-block;

}

.posted-on {
  color: var(--colour3);
  text-align:left;
  align-items: flex-start;
  text-indent: 0.6ch;
  margin-top: 0.6%;
  margin-bottom: 0%;

}
.singleArticle-votes{
  color: var(--colour1);
  display: inline;
  margin-bottom: 0%;


}
.votes-button{
  background-color:var(--colour1);
  color: var(--colour3);
  font-size: small;
  font-weight: 800;

  margin: 0.25rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid var(--colour1);
  display: inline-block;
  text-indent: 0%;
}

.votes-text{
  color: var(--colour2);
  
  margin-bottom: 0%;
  margin-left: 0%;
  text-indent: 0.7%;
}
.single-votes{
  display: inline-block;
  margin-top: 0%;
  margin-right: 3%;
  
}

.comment-count {
  color: var(--colour3);
  text-align:left;
  align-items: flex-start;
  text-indent: 0.6ch;
  margin-top: 2%;
  margin-bottom: 1%;

}

.article-list{
  background: var(--colour2);
  text-align:left;
  align-items: flex-start;
  text-indent: 1.5rem;
  padding: 0.25rem;
  margin: 0.25rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid rgb(164, 60, 238);
  

}


.vote-item{
  background: var(--colour4);
  color: var(--colour1);
  text-align:left;
  align-items: flex-start;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  border-radius: 0.4rem;
  margin-left: 0.5rem;

}
.vote-single-item{
  background: #ffe9e3;
  text-align:left;
  align-items: flex-start;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;

}

.articleList-section{
  background-color: var(--colour4);
  color: var(--colour1);
  padding: 0.25rem;
  margin: 0.25rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid var(--colour1);

}

.single-list-item {
  text-align:left;
  align-items: flex-start;
  text-indent: 1.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;

}

.article-main{
  background: var(--colour1);
  text-align:left;
  align-items: flex-start;
  text-indent: 1.5rem;
  padding: 0.25rem;
  margin: 0.25rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid var(--colour1);

}

.article-body{
  background-color: var(--colour3);
  padding: 0.25rem;
  margin: 0.25rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid rgb(164, 60, 238);

}

.sortBy-button{
  background-color: var(--colour1);
  position: absolute;
  bottom: 70%;
  right: 24%;
  padding: 0.25rem;
  margin-left: 63rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid rgb(164, 60, 238);

}
.sort-by{
  position: absolute;
  bottom: 68%;
  right: 37%;
  margin-left: 63rem;

}

.order-select{
  background-color:var(--colour3);
  position: absolute;
  bottom: 70%;
  right: 2%;
  padding: 0.25rem;
  margin-left: 63rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid rgb(164, 60, 238);

}

.order-text{
  position: absolute;
  bottom: 68%;
  right: 15%;
  margin-left: 63rem;
}

.sortby-item{
  font-size: larger;
  font-weight: 300;
  color: var(--colour2);
  display: inline-flex;
  margin-top: 2%;


}

.filter-item{
  background-color:var(--colour4);
  border-radius: 0.4rem;
  border: 1px solid var(--colour3);
  padding: 0.38ch;
  margin-inline-end: 1.5ch;
  margin-inline-start: 0.5ch;
  font-size: medium;
  color: var(--colour1);
  font-weight: 700;
}