:root {
  --red: red;

 /* TODO Name correct fonts or Import */
 --mono: monospace;
 --sans: sans-serif;

 --colour1: #fafafa;
 --colour2: #ffe9e3;
 --colour3: #c4c1e0;
 --colour4: #7c73e6;

 --error-colour: red;
}  

.nav-section{
  background: var(--colour1);
  margin-bottom: 2rem;


}
.username{
  background-color: var(--colour2);
  padding: 0.20rem;
  margin: 0.20rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid #c4c1e0;

  width: 300px;
  height: 80px;
  border-radius: 1.5px solid blue;
  box-sizing: border-box;
}

.topics-list{
  margin-bottom: 1.5rem;
  
}

.topic-item{
  background-color: var(--colour2);
  padding: 0.25rem;
  margin: 0.25rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid #c4c1e0;

}

/* .App { 
	background: #fafafa; 
}
	
.second-color { 
	background: #ffe9e3; 
}

.third-color { 
	background: #c4c1e0; 
}

.fourth-color { 
	background: #7c73e6;  */

.App {
  text-align: center;
  background: #fafafa;
}


.App-header {
  background-color: #ffe9e3; 
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #c4c1e0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
 }

nav li:first-child {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 7rem;

}

main ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem;
}
.comments-list {
  background-color:var(--colour2);
  list-style-type: none;
  padding: 1rem;
  margin: 1rem;
  align-items: flex-start;
  text-align: left;
  border-radius: 1.25rem;

}

.comment-item{
  background-color:colour3;
  padding: 0.25rem;
  margin: 0.25rem;
  list-style-type:none;

}

.single-comment{
  background-color:var(--colour1);
  padding: 0.25rem;
  margin: 0.25rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid rgb(164, 60, 238);

}

.input-box{
  width: 300px;
  height: 80px;
  border-radius: 1.5px solid blue;
  box-sizing: border-box;

}

.author-span {
  margin: 1rem;
  text-align:left;
  padding: auto;
  background-color:#ffe9e3;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 0.4rem;
  border: 1px solid rgb(164, 60, 238);
  
  
  

}

.posted-on {
  color: #030601;
  text-align:left;
  align-items: flex-start;
  text-indent: 1.5rem;

}

.comment-count {
  color: #030601;
  text-align:left;
  align-items: flex-start;
  text-indent: 1.5rem;

}

.article-list{
  background: #c4c1e0;
  text-align:left;
  align-items: flex-start;
  text-indent: 1.5rem;
  padding: 0.25rem;
  margin: 0.25rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid rgb(164, 60, 238);
  

}


.vote-item{
  background: #ffe9e3;
  text-align:left;
  align-items: flex-start;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  border-radius: 0.4rem;
  margin-left: 0.5rem;

}
.vote-single-item{
  background: #ffe9e3;
  text-align:left;
  align-items: flex-start;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;

}

.articleList-section{
  background-color:#ffe9e3;
  padding: 0.25rem;
  margin: 0.25rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid rgb(164, 60, 238);

}

.single-list-item {
  text-align:left;
  align-items: flex-start;
  text-indent: 1.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;

}

.article-main{
  background: #c4c1e0;
  text-align:left;
  align-items: flex-start;
  text-indent: 1.5rem;
  padding: 0.25rem;
  margin: 0.25rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid rgb(164, 60, 238);

}

.article-body{
  background-color:#ffe9e3;
  padding: 0.25rem;
  margin: 0.25rem;
  list-style-type:none;
  border-radius: 0.4rem;
  border: 1px solid rgb(164, 60, 238);

}



